<form action="<%=session_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    username
    <input type="text" name="users[user_name]">
  </label>
  <br>
  <label>
    password
    <input type="text" name="users[password]"> 
  </label>
  
  <input type="submit" value="Sign in">
</form>